<div id="SideBar">
    <div id="Content_SideBar">
        <nav class="site-navigation page-navigation" style="opacity: 1; ">
            <ul>
                @Html.Raw(ViewBag.chuoi)
             
            </ul>
        </nav>
    </div>
</div>
