<div id="LeftNews">
    <div class="Tear_Cate">
        <div class="nVar_Tear_Cate" style="background:#ff3c00">
            <span>Chuyên mục chính</span>
        </div>
        <div class="Content_Tear_Cate">
            <ul>
                <li><a href="" title=""><span style="font-weight:normal">❖</span>  Về Bigsea Việt Nam</a></li>
                <li><a href="/0/Tin-tuc" title="Tin tức"><span style="font-weight:normal">❖</span>  Tin tức</a></li>
                <li><a href="/0/Tu-van-ky-thuat" title="Tư vấn kỹ thuật"><span style="font-weight:normal">❖</span>  Tư vấn kỹ thuật</a></li>
                <li><a href="/0/Tuyen-dung" title="Tuyển dụng"><span style="font-weight:normal">❖</span>  Tuyển dụng</a></li>
                <li><a href="/Lien-he" title="Liên hệ"><span style="font-weight:normal">❖</span>  Liên hệ</a></li>
             </ul>
        </div>
    </div>
    <div class="Tear_Cate">
        <div class="nVar_Tear_Cate">
            <span>Chính sách & dịch vụ</span>
        </div>
        <div class="Content_Tear_Cate1">
            <ul>
                @Html.Raw(ViewBag.chuoi)
            </ul>
        </div>
    </div>
    <div class="Tear_Cate">
        <div class="nVar_Tear_Cate">
            <span>Tin tuyển dụng mới</span>
        </div>
        <div class="Content_Tear_Cate1">
            <ul>
                @Html.Raw(ViewBag.chuotuyendungi)
            </ul>
        </div>
    </div>
    <div class="Tear_Cate">
        <div class="nVar_Tear_Cate">
            <span>Tin tức nổi bật</span>
        </div>
        <div class="Content_Tear_Cate1">
            <ul>
                @Html.Raw(ViewBag.chuoin)
            </ul>
        </div>
    </div>
</div>
